body {
    background-color: red;

}
#ben {
    font-family: 'Bentham', serif;
    line-height: 25px;
}
#cab {
    font-family: 'Cabin', sans-serif;
    
}
@media screen and (max-width:452px ){
    body {
        margin-left: 30px;
        margin-right: 30px;
    }
}