body {
    position: absolute;
    color: white;
    background-color: darkslateblue;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.green {
    margin-top: 30vh;
    margin-bottom: 1vh;
    font-size: 30px;
    color: springgreen;
}

.under {
    margin-top: 1vh;
    font-size: 15px;
}

.button {
    font-size: 15px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 320px;
    left: 45%;
    transition: top 2s ease-in-out;
}

.headphones {
    color: darkgrey;
    font-size: 10px;
}

.fade-out {
    transition: opacity 1.5s ease;
}
